version: "2"
services:
  api:
    build: .
    ports:
      - "3018:3000"
    links:
       - dynamodb
    environment:
      - DB_HOST=http://dynamodb:8000
      - AWS_REGION=us-east-1
      - AWS_ACCESS_KEY_ID=SDFSDFSDFSDFSDFSDFSDF
      - AWS_SECRET_ACCESS_KEY=dffdg4gdfgd+dfgdfgfggrdgj77hg443
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
  dynamodb:
    image: peopleperhour/dynamodb:latest
    ports:
      - "8018:8000"